* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;

  .box-container {
    margin: auto;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (orientation: portrait) {
      display: flex;
      flex-direction: column;
    }   

    section {
      height: 12rem;
      width: 12rem;
    }
  }
}

